*.jar filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
/Product/Database[[:space:]]Opener/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/Database[[:space:]]Opener/licenses/LICENSE-PLUGINS filter=lfs diff=lfs merge=lfs -text
*.qm filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.sqbpro filter=lfs diff=lfs merge=lfs -text
*.classpath filter=lfs diff=lfs merge=lfs -text
*.project filter=lfs diff=lfs merge=lfs -text
*.prefs filter=lfs diff=lfs merge=lfs -text
/Product/Internal_File_of_Final_Product/JavaRuntimeEnvironment/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/Internal_File_of_Final_Product/JavaRuntimeEnvironment/LICENSE filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.cpl filter=lfs diff=lfs merge=lfs -text
*.jsa filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
/Product/Internal_File_of_Final_Product/JavaRuntimeEnvironment/lib/classlist filter=lfs diff=lfs merge=lfs -text
*.pf filter=lfs diff=lfs merge=lfs -text
*.data filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
/Product/Internal_File_of_Final_Product/JavaRuntimeEnvironment/lib/ext/meta-index filter=lfs diff=lfs merge=lfs -text
*.bfc filter=lfs diff=lfs merge=lfs -text
*.src filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.jfc filter=lfs diff=lfs merge=lfs -text
*.access filter=lfs diff=lfs merge=lfs -text
*.template filter=lfs diff=lfs merge=lfs -text
/Product/Internal_File_of_Final_Product/JavaRuntimeEnvironment/lib/meta-index filter=lfs diff=lfs merge=lfs -text
*.ja filter=lfs diff=lfs merge=lfs -text
/Product/Internal_File_of_Final_Product/JavaRuntimeEnvironment/lib/security/blacklist filter=lfs diff=lfs merge=lfs -text
*.certs filter=lfs diff=lfs merge=lfs -text
/Product/Internal_File_of_Final_Product/JavaRuntimeEnvironment/lib/security/cacerts filter=lfs diff=lfs merge=lfs -text
*.policy filter=lfs diff=lfs merge=lfs -text
*.security filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.libraries filter=lfs diff=lfs merge=lfs -text
/Product/Internal_File_of_Final_Product/JavaRuntimeEnvironment/lib/tzmappings filter=lfs diff=lfs merge=lfs -text
/Product/Internal_File_of_Final_Product/JavaRuntimeEnvironment/release filter=lfs diff=lfs merge=lfs -text
*.class filter=lfs diff=lfs merge=lfs -text
*.lnk filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.jmod filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.base/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.base/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.compiler/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.compiler/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.datatransfer/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.datatransfer/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.desktop/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.desktop/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.instrument/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.instrument/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.logging/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.logging/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.management.rmi/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.management.rmi/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.management/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.management/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.naming/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.naming/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.net.http/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.net.http/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.prefs/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.prefs/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.rmi/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.rmi/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.scripting/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.scripting/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.se/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.se/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.security.jgss/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.security.jgss/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.security.sasl/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.security.sasl/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.smartcardio/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.smartcardio/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.sql.rowset/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.sql.rowset/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.sql/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.sql/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.transaction.xa/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.transaction.xa/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.xml.crypto/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.xml.crypto/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.xml/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/java.xml/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.accessibility/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.accessibility/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.attach/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.attach/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.charsets/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.charsets/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.compiler/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.compiler/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.crypto.cryptoki/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.crypto.cryptoki/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.crypto.ec/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.crypto.ec/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.crypto.mscapi/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.crypto.mscapi/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.dynalink/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.dynalink/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.editpad/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.editpad/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.hotspot.agent/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.hotspot.agent/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.httpserver/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.httpserver/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.incubator.foreign/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.incubator.foreign/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.incubator.vector/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.incubator.vector/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.internal.ed/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.internal.ed/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.internal.jvmstat/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.internal.jvmstat/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.internal.le/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.internal.le/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.internal.opt/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.internal.opt/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.internal.vm.ci/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.internal.vm.ci/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.internal.vm.compiler.management/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.internal.vm.compiler.management/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.internal.vm.compiler/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.internal.vm.compiler/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jartool/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jartool/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.javadoc/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.javadoc/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jcmd/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jcmd/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jconsole/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jconsole/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jdeps/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jdeps/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jdi/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jdi/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jdwp.agent/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jdwp.agent/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jfr/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jfr/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jlink/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jlink/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jpackage/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jpackage/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jshell/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jshell/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jsobject/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jsobject/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jstatd/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.jstatd/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.localedata/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.localedata/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.management.agent/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.management.agent/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.management.jfr/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.management.jfr/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.management/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.management/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.naming.dns/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.naming.dns/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.naming.rmi/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.naming.rmi/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.net/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.net/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.nio.mapmode/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.nio.mapmode/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.random/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.random/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.sctp/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.sctp/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.security.auth/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.security.auth/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.security.jgss/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.security.jgss/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.unsupported.desktop/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.unsupported.desktop/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.unsupported/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.unsupported/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.xml.dom/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.xml.dom/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.zipfs/COPYRIGHT filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/legal/jdk.zipfs/LICENSE filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/lib/classlist filter=lfs diff=lfs merge=lfs -text
*.sym filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/lib/modules filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/lib/security/cacerts filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/lib/tzmappings filter=lfs diff=lfs merge=lfs -text
/Product/JavaRunningEnvironment/release filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.htm filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.thmx filter=lfs diff=lfs merge=lfs -text
